#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.cs~
*.js~

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad
.brackets.json
.jshintrc
.tern-project
.vs

#Other
.svn
packages/
!packages/repositories.config
node_modules/
BuildAndDeployment/RoyalTS/*.rtsz
BuildAndDeployment/test
Source/SmartHub.Web/webroot/app/seed-data/*
JsDocs/
.chef
update
*.un~
*-local.nupkg
#temporary files
~$*

# Include DLLs if they're in the NuGet packages directory
#!/packages/*/lib/*.dll
Source/TestResults/
Tests/TestResults/
Tests/DomainEventData/
TestResult.xml
Tests/Reports/
TestResults/
BuildAndDeployment/vendor
BuildAndDeployment/staging
deployments.txt
.idea
Docs/SmartHub_API_Postman.json
Docs/event_messages/
Docs/api_docs/

# Include everything in the ChromeDriver directory
!Source/ChromeDriver/
