<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <namespace name="SmartHub.Hosting" />
        <alias alias="IMyStartup" type="boot.IMyStartup, boot" />
        <alias alias="ClassLibStartup" type="classlib.ClassLibStartup, classlib" />
        <container>
            <register type="IMyStartup" name="foo" mapTo="ClassLibStartup" />
        </container>
    </unity>
</configuration>